{% extends 'baseadmin.html.twig' %}
{% block pageHeading %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ title }}</h1>

    </div>
{% endblock %}
{% block content %}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>

    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}

                <div class="form-group ">
                        <label for="input-1">Enseignant</label>
                        {{ form_widget(form.enseignant) }}
                </div>
            <div class="row">
                <div class="form-group col">
                    <label for="input-2">Titre</label>
                    {{ form_widget(form.titre) }}
                </div>
                <div class="form-group col">
                    <label for="input-4">Place Disponible</label>
                    {{ form_widget(form.placeDispo) }}
                </div>
            </div>

                <div class="form-group">
                    <label for="input-3">Contenu  </label>
                    {{ form_widget(form.contenu)}}
                </div>
            <div class="row">
            <div class="form-group col">
                <label for="input-3">Date Début  </label>
                {{ form_widget(form.dateD)}}
            </div>

            <div class="form-group col">
                <label for="input-3">Date Fin  </label>
                {{ form_widget(form.dateF)}}
            </div>
            </div>

            <div class="form-group">
                <label for="input-4">Cours Image  </label>
                <div class="picture-container">
                    <div class="picture" onchange="yes()">
                        {% if cours.image %}

                            {{ form_widget(form.image, {'id' : 'pic' , 'required':false}) }}
                            <div class="text-danger">
                                {{ form_errors(form.image) }}
                            </div>
                            <center>
                                <img src="/cours/{{ cours.image }}" style="height: 140px"
                                     class="picture-src" id="wizardPicturePreview" title=""/>
                            </center>


                        {% else %}
                            {{ form_widget(form.image , {'id' : 'pic' }) }}
                            <div class="text-danger">
                                {{ form_errors(form.image) }}
                            </div>
                            <center>
                                <img src=""
                                     class="picture-src" id="wizardPicturePreview" style="height: 140px" title=""/>
                            </center>

                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="input-4">Support de cours </label>
                <div class="picture-container">
                    <div class="picture">
                        {% if cours.file %}
                            {{ form_widget(form.file, {'required':false}) }}
                            <div class="text-danger">
                                {{ form_errors(form.file) }}
                            </div>
                        {% else %}
                            {{ form_widget(form.file) }}
                            <div class="text-danger">
                                {{ form_errors(form.file) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>


            <center>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success px-5 w-25"><i class="icon-lock"></i> Save</button>
                    </div>
                </center>

            {{ form_end(form) }}
        </div>
    </div>

    <script>
        function yes(){
            var e= document.getElementById("pic");
            readURL(e);
        }


        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#wizardPicturePreview').attr('src', e.target.result).fadeIn('slow');
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>

{% endblock %}