{% extends 'baseadmin.html.twig' %}
{% block pageHeading %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Centres</h1>
        <a  href="{{ path('admin_centre_form') }}"  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-download fa-sm text-white-50"></i> Ajouter un centre</a>
    </div>
{% endblock %}
{% block content %}

    <link href="{{asset('back/vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">


    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">La liste des centres</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTables" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Nom</th>
                        <th>Domaine</th>
                        <th>numero Maison</th>
                        <th>Rue</th>
                        <th>Ville</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th></th>
                        <th>Nom</th>
                        <th>Domaine</th>
                        <th>numero Maison</th>
                        <th>Rue</th>
                        <th>Ville</th>
                        <th>Actions</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for centre in centres %}
                    <tr>
                        <td><img src="/centre/{{ centre.file }}" style="width: 90px" alt=""></td>
                        <td>{{ centre.nom }}</td>
                        <td>{{ centre.domaine.nom }}</td>
                        <td>{{ centre.numMaison }} </td>
                        <td>{{ centre.rue }}</td>
                        <td>{{ centre.ville }}</td>
                        <td>
                            <a href="{{ path('admin_centre_edit', {'id': centre.id}) }}" class="btn btn-warning"><i class="fa fa-edit"></i> </a>
                            <a data-toggle="modal"
                               data-target="#confirmdelete{{ centre.id }}" class="btn btn-danger"><i class="fa fa-trash"></i> </a>
                        </td>

                    </tr>
                        <div class="modal fade" id="confirmdelete{{ centre.id }}" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-dark" id="exampleModalLabel">Supprimer Centre</h5>
                                        <button class="close" type="button" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-dark">
                                        Sélectionnez «Confirmer» ci-dessous si vous êtes prêt à  supprimer ce centre
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-success"
                                           href="{{ path('admin_centre_delete', {'id': centre.id}) }}"
                                           id="inactivePayment">Confirmer</a>
                                        <button class="btn btn-danger" type="button" data-dismiss="modal">
                                            Annuler
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="{{asset('back/vendor/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('back/vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>
    <script src="{{asset('back/js/demo/datatables-demo.js')}}"></script>

    <script>
        $(document).ready(function () {
            $('#dataTables').DataTable({
                "ordering": false,
                "bPaginate": false,
                "stripeClasses": [],
                responsive: true,
                language: {
                    search: "_INPUT_",
                    searchPlaceholder: "Trouver un centre",
                },
                dom: 'Bfrtip',
            });


        });
    </script>
{% endblock %}