{% extends 'baseadmin.html.twig' %}
{% block pageHeading %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ title }}</h1>

    </div>
{% endblock %}
{% block content %}

    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}

                <div class="form-group ">
                        <label for="input-1">Etudiant</label>
                        {{ form_widget(form.student) }}
                </div>

            <center>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success px-5 w-25"><i class="icon-lock"></i> Save</button>
                    </div>
                </center>

            {{ form_end(form) }}
        </div>
    </div>

    <script>
        function yes(){
            var e= document.getElementById("pic");
            readURL(e);
        }


        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#wizardPicturePreview').attr('src', e.target.result).fadeIn('slow');
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>

{% endblock %}